* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121214;
    background-image: url(assets/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    font-family: 'Inter', sans-serif;
    color: white;
}

header {
    margin-top: 32px;
}

header img {
    width: 100%;
    border-radius: 50%;
}

div#header {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    width: 120px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    padding: 4px;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-top: 32px;
    display: grid;
    gap: 24px;
}

section {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 24px 32px 32px 32px;
    border-radius: 8px;
}

section h2, p{
    line-height: 160%;
}

section p {
    color: #A1A1AA;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section img {
    width: 90px;
    border-radius: 8px;
}

section ul.channel-list img {
    border-radius: 50%;
    width: 70px;
}